<!DOCTYPE html>
<html lang="en">

<body>
    <%- include('layout/header')%>

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css"
                integrity="sha512-o/MhoRPVLExxZjCFVBsm17Pkztkzmh7Dp8k7/3JrtNCHh0AQ489kwpfA3dPSHzKDe8YCuEhxXq3Y71eb/o6amg=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
                integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />
            <style>
                #add-form {
                    margin: 20%;
                }
            </style>
            <title>Document</title>
        </head>
        <header>
            <div class="body" id="bo">
                <div class="container">
                    <div class="row my-4">
                        <div class="col-lg-12">

                            <div class="table-responsive">
                                <table class="table table-striped text-center">
                                    <thead>
                                        <tr class="table-dark">
                                            <!-- <th>ID</th> -->
                                            <th>Name</th>
                                            <th>E-Mail</th>
                                            <th>Mobile Number</th>
                                            <th>Date Of Joining</th>
                                            <th>Action</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <div class="container1">
                                        <div class="row1">
                                        </div>
                                    </div>
                                    <tbody class="append2"></tbody>
                                    <tbody class="append">
                                    </tbody>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <body>
            <script>
                var token = localStorage.getItem('auth-token');
                console.log(token.data._id)
                $.ajax({
                    type: 'GET',
                    url: `/profile/${token}`,
                    success: (data) => {
                        console.log(data)
                        var html = "";

                        html += ' <tr><td> ' + data.name + ' </td><td> ' + data[i].email + ' </td><td> ' + data[i].number + ' </td><td> ' + data[i].date + ` </td> <td> <button id="${data[i]._id}" onclick="event.preventDefault(); updateData(this.id)" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></button><button id="${data[i]._id}" onclick="event.preventDefault(); deleteData(this.id)" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></button></td><td><button id="${data[i]._id}" onclick="event.preventDefault(); getdata(this.id)"> Deatils</button></td> </tr>`
                        $(".append").append(html)
                    }
                })
            </script>

            </script>
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
                integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
                crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        </body>

</html>